*.wav
*.mp3
*.m4a
*.flac
*.ogg
*.aif
*.aiff
.Rhistory
.Rproj.user/
.RData
*~
*.pdf
*.png
*.aux
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
*.synctex(busy)
*.synctex.gz
*.gpkg
*sample
*.xcf
*.jpg
.jpeg
.~lock.#
